@font-face {
  font-family: "iconfont"; /* Project id 4412354 */
  src: url('//at.alicdn.com/t/c/font_4412354_c4cmlcusvu6.eot?t=1705393925584'); /* IE9 */
  src: url('//at.alicdn.com/t/c/font_4412354_c4cmlcusvu6.eot?t=1705393925584#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//at.alicdn.com/t/c/font_4412354_c4cmlcusvu6.woff2?t=1705393925584') format('woff2'),
       url('//at.alicdn.com/t/c/font_4412354_c4cmlcusvu6.woff?t=1705393925584') format('woff'),
       url('//at.alicdn.com/t/c/font_4412354_c4cmlcusvu6.ttf?t=1705393925584') format('truetype'),
       url('//at.alicdn.com/t/c/font_4412354_c4cmlcusvu6.svg?t=1705393925584#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xia:before {
  content: "\e624";
}

.icon-tuichu:before {
  content: "\e64b";
}

.icon-chengshi:before {
  content: "\ec70";
}

.icon-zhedie-zhankai:before {
  content: "\e717";
}

.icon-zhedie-shouqi:before {
  content: "\e718";
}
